@model List<CinemaNew.Logic.DB.UserBookings>

@if (Model.Count == 0)
{
<b>You don't have any bookings!</b>
}
else
{
<table class="table table-striped">
    <tr>
        <th>Category</th>
        <th>Name</th>
        <th>AvailableTime</th>
        <th></th>
    </tr>
    @foreach (var movie in Model)
        {
    <tr>
        <td>@movie.Category</td>
        <td>@movie.Name</td>
        <td>@movie.AvailableTime</td>
        <th><a asp-controller="Booking" asp-action="Cancel" asp-route-name="@movie.Name">Cancel</a></th>
    </tr>
        }
</table>
}
