@model List<CinemaNew.Logic.DB.Category>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Categories</li>
    </ol>
</nav>
<div class="row">
    @foreach (var category in Model)
    {
        <div class="nav-item">
            <a class="nav-link" href="#">@category.Name </a>
        </div>
    }
</div>

